# Dependencies
node_modules/
.pub-cache/
.pub/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/
.eggs/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml
.idea/

# Logs & env
*.log
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
